<div class="container">
  <h2>Pure VideoJS player</h2>
  <video [attr.id]="videojsPlayerId" class="video-js"></video>

  <h3>Current issues</h3>
  <ul>
    <li>Small black square when hovering progress bar</li>
  </ul>

  <h2>Frames plugin player</h2>
  <video [attr.id]="framesPlayerId" class="video-js"></video>

  <h3>Current issues</h3>
  <ul>
    <li>Video doesn't start for the beginning</li>
    <li>It depends on "videojs-overlay" plugin to work properly, even if you don't want to have the overlay menu. <br>
        If plugin missing, it throws an exception when enabling clipping and BIF stop working properly.
    </li>
    <li>
      Disposing the player throws an exception over and over.
      Click <a (click)="ngOnDestroy()">here to dispose</a> and check the console.
    </li>
  </ul>

</div>

